.header {
    color: white;
    background-color: #931621;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

h1 {
    margin-left: 5rem;
}
